/gdal/.libs/
/gdal/alg/.libs/
/gdal/alg/*.o
/gdal/alg/*.lo
/gdal/apps/.libs/
/gdal/apps/*.o
/gdal/apps/*.lo
/gdal/frmts/o/.libs/
/gdal/frmts/o/*.o
/gdal/frmts/o/*.lo
/gdal/frmts/o/.libs/
/gdal/ogr/ogrsf_frmts/o/.libs/
/gdal/ogr/ogrsf_frmts/o/*.o
/gdal/ogr/ogrsf_frmts/o/*.lo
/gdal/gcore/.libs/
/gdal/gcore/*.o
/gdal/gcore/*.lo
/gdal/ogr/.libs/
/gdal/ogr/*.o
/gdal/ogr/*.lo
/gdal/port/.libs/
/gdal/port/*.o
/gdal/port/*.lo
/gdal/apps/gdal-config
/gdal/apps/gdal-config-inst
/gdal/apps/gdal_contour
/gdal/apps/gdal_grid
/gdal/apps/gdal_rasterize
/gdal/apps/gdal_translate
/gdal/apps/gdaladdo
/gdal/apps/gdalbuildvrt
/gdal/apps/gdaldem
/gdal/apps/gdalenhance
/gdal/apps/gdalinfo
/gdal/apps/gdallocationinfo
/gdal/apps/gdalmanage
/gdal/apps/gdalsrsinfo
/gdal/apps/gdaltindex
/gdal/apps/gdaltransform
/gdal/apps/gdalwarp
/gdal/apps/nearblack
/gdal/apps/ogr2ogr
/gdal/apps/ogrinfo
/gdal/apps/ogrtindex
/gdal/apps/testepsg
/gdal/config.status
/gdal/GDALmake.opt
/gdal/libgdal.la
/gdal/libtool
/gdal/port/cpl_config.h
/gdal/config.log